.welcome {
	font-family: Terminal;
	font-size: 1.125rem; //18px
	font-weight: 300;
	color: #b9b92d;
	margin: 5.111em 0;
	text-transform: uppercase;
	letter-spacing:-0.03em;
	text-shadow:0 1px 1px rgba(0,0,0,0.1),0 0 5px rgba(181,232,83,0.1),0 0 10px rgba(181,232,83,0.1);
}

.greeting{
	margin: 11rem 0 1rem;
	text-align: center;
}

.links {
	margin: 3rem 0;
	display: flex;
	flex-direction: column;
	align-items: center; 
	//text-align: center; - will do the same
}

.links-one, .links-two, .links-three {
	padding: 1rem 0;
}

