.container
	+b.SECTION.main-content
		+b.H2.welcome Welcome to anatta's website
		+b.P.greeting Hey! I'm Aleksandr. I build websites. Here are some of my open source repositories:
		+b.UL.links
			+b.LI.links-one
				+e.A(href='https://github.com/akaAnatta/akaanatta.github.io') - akaanatta.github.io
			+b.LI.links-two
				+e.A(href='https://github.com/akaAnatta/learn-html') - learn-html
			+b.LI.links-three
				+e.A(href='https://github.com/akaAnatta/learn-css') - learn-css
